/* General Container Styling */
.about-us-container {
    padding: 60px;
    border-radius: 15px;
    align-items: center;
    overflow: hidden;
}

.about-us-container:hover {

}

/* Text Content Styling */
.about-us-text {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.7;
    animation: fadeIn 1s ease-in-out;
}

.about-us-text h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #2c3e50;
    position: relative;
    padding-bottom: 15px;
    text-align: left;
}

.about-us-text h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 50px;
    background-color: #3498db; /* A highlight color */
    border-radius: 2px;
}

.about-us-text p {
    font-size: 1.1rem;
    margin-bottom: 25px;
    opacity: 0.85;
    text-align: left;
}

/* Image Styling */
.about-us-image img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
}

.about-us-image img:hover {
    transform: scale(1.05);
}

/* Keyframes for Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .about-us-container {
        padding: 80px 40px 0px;
        text-align: center;
    }

    .about-us-text h2 {
        font-size: 2rem;
    }

    .about-us-text p {
        font-size: 1rem;
    }

    .about-us-image {
        display: none;
    }
}