.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 3.4rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #2c3e50;
  position: relative;
  display: inline-block;
  padding-bottom: 18px;
}
/* This is what makes a nice blue line */
h1::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 5px;
  width: 70px;
  background-color: #3498db;
  border-radius: 3px;
}
h2 {
  font-family: 'Roboto Slab', serif; /* Use premium fonts */
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: #2c3e50;
  align-items: center;
  display: flex;
  gap: 12px;
  position: relative; /* Keep relative so the line can appear */
  padding-bottom: 12px;
  letter-spacing: -0.5px; /* Kerning */
}

/* This is what makes a nice blue line */
h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 40px;
  background-color: #3498db;
  border-radius: 2px;
}

p {
  font-family: 'Open Sans', sans-serif; /*Match Font */
  font-size: 1.15rem;
  color: #555;
  line-height: 1.7;
  font-weight: lighter;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #777;
  line-height: 1.8;
  margin-bottom: 10px;
}

.page {
  padding: 120px 0 60px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }

  .page {
    padding: 100px 15px 50px;
  }
}